# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ipch

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Basic2DGameEngine/.vs/Basic2DGameEngine/v16/Browse.VC.opendb
Basic2DGameEngine/.vs/Basic2DGameEngine/v16/Browse.VC.db-wal
Basic2DGameEngine/.vs/Basic2DGameEngine/v16/Browse.VC.db-shm
